a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #ADABF5;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.column {
  display: flex;
  flex-direction: column;
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  max-width: 400px;
}

.my-form button {
  align-self: center;
}

.my-form .nav-link {
  align-self: center;
}

.auth-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20vh;
}

.form-input {
  border-radius: 8px;
  border: 1px solid #ADABF5;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

#item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.item-card {
  width: 18rem;
  height: 500px;
}

#item-img {
  max-width: 400px;
  min-width: 250px;
  height: auto;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

#item-page { 
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

#ratings-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-row { 
  display: flex;
  flex-direction: row;
}

.star-rating {
  white-space: nowrap;
}

.star-rating button {
  background-color: transparent;
  font-size: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
.on {
  color: rgb(255, 215, 0);
}
.off {
  color: gray;
}

.edit {
  cursor: pointer;
}

button .star-rating  .no-edit {
  cursor: default;
}

textarea {
  resize: none;
}

.item-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 700px;
}

.fit-content {
  width: fit-content !important;
}

#item-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 50%;
  min-width: 300px;
}

#item-info {
  flex-wrap: wrap;
}

#reviews-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#home-page {
  padding: 2em;
}
#rent-deal-page {
  padding: 2em;
}

.description-text {
  white-space: pre-line;
}