#topnav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2em; */
    padding: 0 2em 0 2em;
    background-color: lightgray;
    min-height: 10vh;
    flex-wrap: wrap;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profile-menu-btn .dropdown-content {
    right: 0;
    min-width: 0;
}

#map-view {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map-container {
    height: 400px;
    width: 800px;
}